<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Text-o-mania</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="heading">
      <h1 class="main_heading">TEXT-O-MANIA</h1>
      <h3 class="main_description">
        Find everything aboout your <span style="color: #12e1b9">text</span>.
      </h3>
    </div>
    <div class="grid_container">
      <div class="grid_items">
        <a href="{{url_for('summariser')}}">
          <button
            style="
              background-color: transparent;
              text-decoration: none;
              border: none;
              font-size: 20px;
              color: #12e1b9;
            "
            type="submit"
          >
            Text Summariser
          </button>
        </a>
      </div>

      <div class="grid_items">
        <a href="{{url_for('generate')}}">
        <button
          style="
            background-color: transparent;
            text-decoration: none;
            border: none;
            font-size: 20px;
            color: #12e1b9;
          "
        >
          Text Generator
        </button>
      </a>
      </div>

      <div class="grid_items">
        <a href="{{url_for('sentiment')}}">
          <button
            style="
              background-color: transparent;
              text-decoration: none;
              border: none;
              font-size: 19px;
              color: #12e1b9;
            "
            type="submit"
          >
            Sentiment Analysis
          </button>
        </a>
      </div>

      <div class="grid_items">
        <button
          style="
            background-color: transparent;
            text-decoration: none;
            border: none;
            font-size: 20px;
            color: #12e1b9;
          "
        >
          Dictionary
        </button>
      </div>
    </div>
  </body>
</html>
